
<div class="header-wrap d-flex  justify-content-end">

    <h5 class="m-r-auto">Test App Wonder </h5>

    <div class="user-profile">
        <div class="user-img">
            <img src="../../../assets/images/profile.jpg" alt="">
        </div>
        <h6>User Name</h6>
    </div>

    <div class="btn-group" dropdown placement="bottom right">
        <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                aria-controls="dropdown-basic">
                <div class="ham-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
  
        </ul>
      </div>
</div>

